/* src/index.css */
@font-face {
  font-family: "JHC Sineas Extralight";
  src: url("/fonts/JHCSineas-Extralight.woff2") format("woff2"),
       url("/fonts/JHCSineas-Extralight.woff")  format("woff");
  font-weight: 200;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050508;
}